body {
    background-color: black;
    color: gray;
}

header, main, nav, footer {
    text-align: center;
}

main {
    width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

nav a { /*Anchors in the Nav*/
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;   /*remove underline*/
    color: white;            /*override blue default*/
}

nav a:hover { /*pseudo class*/
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s; 
}

#current {
    color: orange;
}

#me {
    float: left;
}

#welcomeText {
    text-align: left;
    float: right;
    width: 300px;
}

#contact{
    width: 760px;
    margin:0 auto;
}

footer {
    clear: left;
    font-size:.6em;
    color:orange;
}

hr{
    width: 75%;
}

table {
    width: 800px;
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align: left;
    width: 500px;
    margin: 0 auto;
}

.hobby {
    color: yellow;
}
