body {
    justify-content: center;
    text-align: center;
    background-image: url('../../../img/vimlogo.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    background-color: #fff;
    opacity: 0.8;
    margin: 50px auto;
    padding: 60px 40px;
}


.card {
    background-color: #fff;
    opacity: 0.8;
    margin: 20px auto;
    padding: 10px 30px;
    border-style: inset;
    width: 950px;
    height: 160px;
    display: none;
}

.fb {
    color: red;
    font-style: italic;
    height: 20px;
}

#submitButton {
    opacity: 0.8;
}
